<p class="social">
	<span class="circle mail">
		<span class="icon"><!-- --></span>
		<em>
			<a href="mailto:business.development@powershop.com">business.development@po..</a><br />
			<a href="mailto:jobs@powershop.com">
			jobs@powershop.com</a>
		</em>
	</span>

	<a href="tel:+64-800-462-668" class="circle phone">
		<span class="icon"><!-- --></span>
		<em>0800 462 668</em>
	</a>

	<a href="https://twitter.com/powershop" class="circle twitter">
		<span class="icon"><!-- --></span>
		<em>Follow us</em>
	</a>

	<a href="https://www.facebook.com/powershop" class="circle facebook">
		<span class="icon"><!-- --></span>
		<em>Like us</em>
	</a>

	<a href="skype:powershopnz" class="circle skype">
		<span class="icon"><!-- --></span>
		<em>powershopnz</em>
	</a>
</p>