<p class="social">
	<a href="mailto:hello@powershop.com" class="circle mail">
		<span class="icon"><!-- --></span>
		<em>
			hello@powershop.com<br />
		</em>
	</a>
	
	<a href="tel:+64-4-472-9521" class="circle phone">
		<span class="icon"><!-- --></span>
		<em>+64 4 472 9521</em>
	</a>

	<a href="https://twitter.com/powershop" class="circle twitter">
		<span class="icon"><!-- --></span>
		<em>Follow us</em>
	</a>

	<a href="https://www.facebook.com/powershop" class="circle facebook">
		<span class="icon"><!-- --></span>
		<em>Like us</em>
	</a>

	<a href="skype:powershopnz" class="circle skype">
		<span class="icon"><!-- --></span>
		<em>powershopnz</em>
	</a>
</p>