<div id="maps">
	<div id="map_wellington" class="map">
		<h3><span>Wellington</span></h3>
		<div class="vcard">
			<div class="content">
				<div class="org">Powershop</div>
				<div class="adr">
					<div class="street-address">43-47 Hanson St</div>
					<div class="locality">Newtown</div> 
					<div class="region">Wellington <span class="postal-code">6021</span></div>
				</div>

				<div class="">
					Call <a href="tel:+64-4-472-9521" class="tel">+64 4 472 9521</a>
				</div>
			</div>
		</div>

		<div class="google_map" data-center-lat="-41.307350" data-center-lng="174.776644" data-marker="{% asset_path face_1.png %}" data-marker-lat="-41.306200" data-marker-lng="174.77716"></div>
	</div>

	<div id="map_masterton" class="map">
		<h3><span>Masterton</span></h3>
		<div class="vcard">
			<div class="content">
				<div class="org">Powershop</div>
				<div class="adr">
					<div class="street-address">31 Chapel St</div>
					<div class="region">Masterton <span class="postal-code">5810</span></div>
				</div>

				<div class="">
					NZ Call <a href="tel:+0800-462-668" class="tel">0800 462 668</a><br />
					International Call <a href="tel:+64-6-377-2165" class="tel">+64 6 377 2165</a>
				</div>
			</div>
		</div>

		<div class="google_map" data-center-lat="-40.94712" data-center-lng="175.66417" data-marker="{% asset_path face_2.png %}" data-marker-lat="-40.948099" data-marker-lng="175.662162"></div>
	</div>

	<div id="map_auckland" class="map">
		<h3><span>Auckland</span></h3>
		<div class="vcard">
			<div class="content">
				<div class="org">Powershop</div>
				<div class="adr">
					<div class="street-address">72 Williamson Ave</div>
					<div class="locality">Grey Lynn</div> 
					<div class="region">Auckland <span class="postal-code">1021</span></div>
				</div>

				<div class="">
					Call <a href="tel:+64-4-472-9521" class="tel">+64 4 472 9521</a>
				</div>
			</div>
		</div>

		<div class="google_map" data-center-lat="-36.86495" data-center-lng="174.74552" data-marker="{% asset_path face_1.png %}" data-marker-lat="-36.86179" data-marker-lng="174.74259"></div>
	</div>

	<div id="map_melbourne" class="map">
		<h3><span>Melbourne</span></h3>
		<div class="vcard">
			<div class="content">
				<div class="org">Powershop</div>
				<div class="adr">
					<div class="street-address">357 Collins St</div>
					<div class="region">Melbourne, <span class="state">VIC</span> <span class="postal-code">3000</span></div>
				</div>

				<div class="">
					Call <a href="tel:+61-3-8370-2100" class="tel">+61 3 8370 2100</a>
				</div>
			</div>
		</div>

		<div class="google_map" data-center-lat="-37.816515" data-center-lng="144.962545" data-marker="{% asset_path face_3.png %}" data-marker-lat="-37.816515" data-marker-lng="144.962545"></div>
	</div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&amp;key=AIzaSyCdkXi0YALAoZAHs70uzqfUha3lJ2U_GAM"></script>

<script type="text/javascript">
window.map_styles = 
	[{
	"featureType": "road.highway",
	"elementType": "geometry.fill",
	"stylers": [
		{ "visibility": "simplified" },
		{ "color": "#ffffff" }
	]},{
	"featureType": "road.arterial",
	"stylers": [
		{ "color": "#ffffff" }
	]},{
	"featureType": "road.local",
	"stylers": [
		{ "color": "#ffffff" }
	]},{
	"featureType": "landscape",
	"elementType": "geometry",
	"stylers": [
		{ "color": "#7c7d7e" },
		{ "visibility": "off" }
	]},{
	"featureType": "road.local",
	"elementType": "labels.text.fill",
	"stylers": [
		{ "visibility": "on" },
		{ "color": "#7c7d7e" }
	]},{
	"featureType": "poi",
	"stylers": [
		{ "visibility": "off" }
	]},{
	"featureType": "transit",
	"stylers": [
		{ "visibility": "off" }
	]},{
	"featureType": "road.highway",
	"elementType": "geometry.fill",
	"stylers": [
		{ "visibility": "on" },
		{ "color": "#ffffff" }
	]},{
	"featureType": "road.highway",
	"elementType": "geometry.stroke",
	"stylers": [
		{ "color": "#ffffff" }
	]},{
	"featureType": "road.highway",
	"elementType": "labels.text.stroke",
	"stylers": [
		{ "color": "#000000" },
		{ "visibility": "off" }
	]},{
	"featureType": "road.highway.controlled_access",
	"elementType": "labels.icon",
	"stylers": [
		{ "visibility": "on" }
	]}];
</script>
