/* 
 * -------------------------------------------------------- 
 * Core styles 
 *
 * Vertical Rhythm: 5px 
 * -------------------------------------------------------- 
 */

@hotPink: #F90D6A;
@purplePink: #BC216B;

body {
	font-family: "omnes-pro", Helvetica Neue, sans-serif;
}

/* 
 * -------------------------------------------------------- 
 * Layout
 * -------------------------------------------------------- 
 */
.wrapper {
	max-width: 1100px;
	width: 96%;
	margin: 0 auto;
}

section {
	position: relative;
}

.cf:before, 
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf { 
	zoom: 1; 
}

/* 
 * -------------------------------------------------------- 
 * Typography styles 
 * -------------------------------------------------------- 
 */
h1 {
	margin-top: 0;
	font-weight: 200;

	&.yell {
		font-size: 130px;
		text-transform: uppercase;
		line-height: 120px;
	}
}

p {
	font-weight: 300;
	font-size: 17px;
	line-height: 25px;
}

strong {
	font-weight: 500;
}

ol, ul {

	&.semantic {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

/* 
 * -------------------------------------------------------- 
 * Header and main nav
 * -------------------------------------------------------- 
 */
#header {
	width: 100%;
}

.logo {
	display: block;
	width: 200px;
	height: 30px;
	overflow: hidden;
	background: url(/img/sprite.png) no-repeat;
	text-indent: -9000px;

	&.white {
		background-position: 0 -30px;
	}

	&.face {
		width: 30px;
	}
}

.nav {
	display: block;
	width: 25px;
	height: 25px;
	background: url(/img/sprite.png) -200px -3px no-repeat;
	text-indent: -90000px;
	outline: none;

	&:hover,
	&:focus {
		opacity: 0.8;
	}

}

.close_nav {
	display: block;
	height: 30px;
	width: 30px;
	background: url(/img/sprite.png) -220px 0 no-repeat;
	text-indent: -90000px;
	outline: none;

	&:hover,
	&:focus {
		opacity: 0.8;
		outline: none;
	}
}

#nav {
	display: none;

	ol {
		list-style: none;
	}

	a {
		display: block;
	}

	li {
		margin-bottom: 5px;
	}
}

/* 
 * -------------------------------------------------------- 
 * Side nav
 * -------------------------------------------------------- 
 */
#jumper {
	position: fixed;
	top: 50%;
	margin-top: -100px;
	right: 0;

	li {
		position: relative;

		&.active {
			&:after {
				content: " ";
				display: block;
				position: absolute;
				right: 0;
				height: 0;
				width: 0;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 10px solid #fff;
			}
		}
	}

	span {
		display: block;
		height: 8px;
		width: 8px;
		background: #fff;
		border-radius: 8px;
	}
}


/* 
 * -------------------------------------------------------- 
 * About Page
 * -------------------------------------------------------- 
 */

#kiss_ass {
	background: @hotPink;

	p {
		width: 200px;
	}
}

#design_thinking {
	background: @purplePink;

	p {
		width: 200px;
	}
}

/* 
 * -------------------------------------------------------- 
 * Utilities
 * -------------------------------------------------------- 
 */
.accessibility {
	position: absolute;
	left: -999999px;
}
