<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% stylesheet app %}

        {% javascript modernizr %}
        <script type="text/javascript" src="//use.typekit.net/hvb0his.js"></script>
        <script type="text/javascript">try {Typekit.load();}catch(e){}</script>
    </head>

    <body id="top" class="{{ page.body_class }}">
      <div id="loading">
        <div class="loading_icon"><div class="loading_eye"><!-- --></div></div>
      </div>


      <header id="header" class="{{ page.header_color }}">
        <div class="wrapper">
          <p class="logo"><a href="/"><span></span><strong>Powershop</strong></a></p>

          <p class="navigation">
            <a href="#content" class="accessibility">Skip to content</a>
            <span class="show_nav">Menu</span>
          </p>
        </div>
      </header>

      <nav id="nav">
        <div class="wrapper">
          <div class="nav_wrapper">
            <ol class="sematic">
              <li class="page-home">
                <div class="dummy-pad"></div>

                <ol class="sematic">
                  <li class="welcome"><a href="/">Welcome</a></li>
                  <li class="kick_ass"><a href="/#kick_ass">Kick-ass</a></li>
                  <li class="our_shop"><a href="/#our_shop">Our shop</a></li>
                  <li class="customers_love"><a href="/#customers_love">Customers love</a></li>
                  <li class="our_history"><a href="/#our_history">Our History</a></li>
                  <li class="our_people"><a href="/#our_people">Our People</a></li>
                  <li class="contact_welcome"><a href="/#contact_us">Talk to us</a></li>
                </ol>
              </li>

              <li class="page-culture">
                <div class="dummy-pad"></div>

                <ol class="sematic">
                  <li class="current_roles"><a href="/culture/">Current Roles</a></li>
                  <li class="give"><a href="/culture/#give">Give a shit</a></li>
                  <li class="betterer"><a href="/#make_things" >Make things betterer</a></li>
                  <li class="weird"><a href="/culture/#weird">Keep being weird</a></li>
                  <li class="shit_hot"><a href="/culture/#shit_hot">Shit hot</a></li>
                  <li class="culture"><a href="/culture/#culture">Culture and Capability</a></li>
                </ol>
              </li>
              
              <li class="page-contact">
                <div class="dummy-pad"></div>
                <ol class="sematic">
                  <li class="contact"><a href="/contact/">Contact</a></li>
                </ol>
              </li>
            </ol>
          </div>
        </div>
      </nav>

      {{ content }}

      <footer id="footer">
        <div class="wrapper">
          <p class="left"><a href="/terms-and-conditions/">Terms &amp; Conditions</a></p>
          <p class="left"><a href="/privacy/">Privacy Policy</a></p>
          <p class="right"><a href="#top">Back to top</a></p>
        </div>
      </div>

      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-5962965-7', 'powershop.com');
        ga('send', 'pageview');
      </script>
      
      {% javascript app %}
    </body>
</html>
